<%- include('partials/header'); -%>
    <h1>Contact us</h1>
    <p>Wanna contact us, check out the links below...</p>
    <ul>
        <li><a href="https://harshit850.github.io/Profile/">Personal Website</a></li>
        <li><a href="https://www.linkedin.com/in/harshit-kumar-ab98a3191/">LinkedIn</a></li>
        <li><a href="https://wa.me/919557789396">WhatsApp</a></li>
        <li><a href="mailto:kumarharshit850@gmail.com">Email</a></li>
    </ul>
<%- include('partials/footer'); -%>